<?xml version="1.0"?>
<configuration>
  <connectionStrings>
   
    <!--<add name="Register" connectionString="Data Source=INSURSRVR-2\SQLSERVER;Initial Catalog=SandBox;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient"/>-->
    <add name="Register" connectionString="Data Source=184.168.194.53;Initial Catalog=SandBox;Persist Security Info=True;User ID=salman;Password=salman12;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="iConstellation" connectionString="Data Source=184.168.194.53;Initial Catalog=SandBox;Persist Security Info=True;User ID=salman;Password=salman12;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
	  <machineKey validationKey="EDB0852750B1661A9C8612DD1C6512AD3A7987C404DABF7F2CEDD21C230F58FCB7F6143304F26872F88CC3253DA731F8A2EC090801B3791DFB301D267BC00CA9"
        decryptionKey="3D49B7FE976F71231859D6FB2B2A142BB3863807076241A2967884C8F49F03DB" validation="SHA1" decryption="AES"/>
	  <httpRuntime maxRequestLength="32768" />
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>